.io{
  margin-top: 10px;
  float: left;
  width: 50px;
}
header{
  width: 100%;
}
.conteiner{
  display: flex;
  align-items: ;
  width: auto;
  margin:auto;

}
.conteiner1{
  display: flex;
  justify-content:space-between;
  width: auto;
  margin: auto;
}

.txt3:nth-of-type(2){

}


.txt3:nth-of-type(3){

}


@media (max-width:2400px) {
  .conteiner{
    max-width: 1100px;
  }
  .conteiner1{
    max-width: 1100px;
  }

}
@media (max-width:1099px) {
  .blockk{
    max-width: 700px;
  }
  .block3{
    float: right;
  }
  .conteiner{
    max-width:600px;
  }
  .conteiner1{

  }
  .block2{
    margin-left: 0px;
    margin-left: -350px;

  }
  .block3{
    float:left;
  }
  .block3{
    padding-right: 250px;
    padding-left: 70px;
  }
}
@media (max-width:819px) {
  .conteiner{

    max-width:400px;
  }

  .block2{
  }
}
@media (max-width:600px) {
  .conteiner{
    max-width:200px;
  }
  .content{
  }
}

#check-menu{
  display: none;
}
label{
  float: right;
  display: block;
  position: relative;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  line-height: 40px;
}
.burger-line{
  display: flex;
  position: absolute;
  margin-top: 10px;
  top: 8px;
  right: 10px;
  width: 35px;
  height: 2px;
  background-color:black;
  transition: 0.3s all;
}
.burger-line:nth-of-type(2),
.burger-line:nth-of-type(3){
  top: 18px;
}
.burger-line:nth-of-type(4){
  top: 28px;
}
.main-menu{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
  left: 0;
  max-height: 0;
  font-size: 0;
  overflow:hidden;
  margin-top: 47px;
  transition: 1s all;

}

.main-menu a{
  display: block;
  float: right;
  font-size: 20px;
  display: block;
  height: 30px;
  width: 50%;
  padding: 10px;
  color: white;
  background-color:#2c4755;
  text-decoration: none;
  border: 1px solid gray;

}
.main-menu a:hover{
  background-color: orange;

}
#check-menu:checked ~ .main-menu{
  max-height: 150px;
  font: 16px;

}
#check-menu:checked ~ .burger-line:nth-last-of-type(1),
#check-menu:checked ~ .burger-line:nth-last-of-type(4){
  display: none;

}
#check-menu:checked ~ .burger-line:nth-last-of-type(2){
  transform: rotate(45deg);
}
#check-menu:checked ~ .burger-line:nth-last-of-type(3){
  transform: rotate(-45deg);
}

.content{
  width: 100%;
  display: flex;
  justify-content: center;
}
.grcont h1{
  padding-top: 90px;
  text-align: center;
  color:#10cab7;
}
.grcont{
  width: 100%;

  height: 300px;
  background-color:#f6f6f6;
}
.txt2{
  text-align: center;
}
.txt3{

  width: 33.3%;
  float: left;
  text-align: center;
}
.txt4{
  width: 33.3%;
  float: left;
  text-align: center;
}
.txt5{
  width: 33.3%;
  float: left;
  text-align: center;
}
.txt3:hover{
  margin-top: -5px;
  box-shadow:0.5px  4px #eceded;
  transition: 1s all;


}
.txt4:hover{
  margin-top: -5px;
  box-shadow:0.5px 4px #eceded;
  transition: 1s all;


}
.txt5:hover{margin-top: -5px;

  box-shadow:0.5px 4px #eceded;
  transition: 1s all;


}
.imgx3 i{
  color: #10cab7;
  padding-top: 20px;
  font-size: 50px;
}
i {
  color: #10cab7;
}




.blockk{

}
.txt12-13{
  margin-top: 87px;
}
.block3 h1{
  margin-top: -30px;
}
.block3 i{
  font-size: 30px;
  margin-left: -40px
}

.txt8-9{
  margin-top: 50px;
}
.block2 h1{
  margin-top: -30px;
}
.block2 i{
  font-size: 30px;
  margin-left: -40px;
}

  .block5 img{
  width: 250px;
  margin-top: -79px;
  margin-right: 10%;
  float: right;
  }
  .block2{
    margin-top: 100px;
    padding-left: 420px;
    margin-right: 50px;

    float: left;
  }
  .block3{
    padding-top: 322px;
  }
